<!DOCTYPE html>
{% load staticfiles %}
{% load techGyaan_template_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
      <title>TechGyaan - {% block title %}Abode to tech Resources!{% endblock %}</title>
<!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index' %}">TechGyaan</a>
    <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_category' %}">Add a New Category</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" href="{% url 'profile' user.username %}">Profile</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'list_profiles' %}">List Profiles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_logout' %}?next=/techGyaan/">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration_register' %}">Register Here</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
      </li>
      {% endif %}
      </ul>
    </div>
    </nav>
    <div class="container-fluid">
    <div class="row">
    
   <!-- <div class="col-sm-3 col-md-2 sidebar">-->
   <!-- <div class="sidebar-nav-fixed pull-right affix">-->
    <!--</div>-->
    <div class="col-sm-6 col-sm-offset-6 col-md-12 col-md-offset-12 main">
    {% block body_block %}{% endblock %}
    </div>
    </div>
    </div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js">
    </script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src= "http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.j\
s">
    </script>
    <footer>
      <a href="#top">Back to Top</a><br>
      <hr>
      <small align="center">&copy;Rishav Sapahia.All Rights Reserved.</small><br>
    </footer>
    </body>
    </html>